{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Password Changed" %}{% endblock %}

{% block content %}

<header>
   <div class="container-fluid">
      <div class="row px-4 text-center">
         <div class="col-lg-6 mx-auto">
            <div class="caption">
               <div class="text-center-caption">
                  <h1 class="post-title fw-bolder text-uppercase">Password Updated</h1>
                  <h2 class="post-subtitle fw-bold">Your password was changed successfully!</h2>
               </div>
               <div class="row">
                  <div class="col-md-8 offset-md-2 mt-4 text-center fonth">
                      <a href="{% url 'home' %}" class="btn btn-signup btn-lg share-btn">BACK</a>
                  </div>
              </div>
            </div>
         </div>
      </div>
   </div>
</header>

{% endblock %}