{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container mt-md-5 my-2 text-center">
    <div class="row">
        <div class="col-md-10 mx-auto mt-3 offset-md-2 text-center text-danger">
            <h2 class="mt-1 fonth2">Coming soon ...</h2>
        </div>
    </div>
</div>
<div class="container-lg mb-3 pt-3">
    <div class="row mx-2 pb-md-5">
        <div class="col-12 col-md-6 mt-xxl-1 p-lg-5 aboutp">
            <h5>Hello, my dear travellers.</h5>
            <p>The website needs to update. I'm preparing new features so that, in addition to leaving comments on my posts, 
            you can also send your stories and experiences so that I can post them here on the Share Your Story blog.
            </p>
            <p>I hope you guys have a lot of stories to share with us.</p>
        </div> 
        <div class="col-12 col-md-6 mt-3 mt-xxl-1 p-lg-5">
            <img class="img-fluid about-me-image" src="{% static 'images/share.png' %}" alt="share your story">
        </div>
    </div>
</div>

{% endblock %}